# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables
.env

# Django
db.sqlite3
*.log
media/
staticfiles/

# PyCharm
.idea/

# VS Code (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python tools
.pytest_cache/
.coverage
htmlcov/

# Temporary files
*.tmp
*.bak